// glob variables
$containerMaxWidth: 1320px;
$gap: 32px;

$defaultFont: 'Open Sans', sans-serif;

// colors
$white: #fff;
$black: #333;
$grey: #999;
$grey-shade: #666;
$md-grey: #eaeaea;
$grey-light: #f6f6f6;
$secondary: #ff862f;
$secondary-light: #ffbd59;
$secondary-shade: #bb370e;
$bone: #fff5d1;
$primary: #a65cf0;
$primary-shade: #7033ac;
$primary-light: #c998fb;
$gold: #d5b986;
$pink-violet: #ebd1ff;
$pink-light: #f8efff;
$green-input: #b8ec64;

// breakpoints
$breakpoint_xxl: 1280px;
$breakpoint_xl: 992px;
$breakpoint_md: 700px;
$breakpoint_sm: 565px;
$breakpoint_mob: 435px;
